<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TTMS首页</title>
    <style type="text/css">
        @import url("../css/ttms_index.css");
    </style>
</head>

<body>
    <!--主体-->
    <div id="view_body">
        <!--导航栏部分-->
        <div class="v_navigation">
            <div class="v_nav_top">
                <img src="">
                <span>感受奥斯卡 生活更精彩~</span>
                &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp;
                <input type="text" name="_search_kw"/>
                <a>搜索</a>
            </div>
            <div class="lb_image">
                <img src="../../images/top_image.jpg"/>
            </div>
            <div class="v_nav_top">
                <ul>
                    <li class="v_nav_top_ul">
                        <a>首页</a>
                        <!--<div class="v_nav_display">-->
                            <!--<ul>-->
                                <!--<li><a>院线业务</a></li>-->
                                <!--<li><a>影城展示</a></li>-->
                                <!--<li><a>影片排期</a></li>-->
                                <!--<li><a>在线选座</a></li>-->
                                <!--<li><a>咨询活动</a></li>-->
                                <!--<li><a>会员专区</a></li>-->
                            <!--</ul>-->
                        <!--</div>-->
                    </li> &nbsp; &nbsp;
                    <li><a>院线业务</a></li> &nbsp; &nbsp;
                    <li><a>影城展示</a></li> &nbsp; &nbsp;
                    <li><a>影片排期</a></li> &nbsp; &nbsp;
                    <li><a>在线选座</a></li> &nbsp; &nbsp;
                    <li><a>咨询活动</a></li> &nbsp; &nbsp;
                    <li><a>会员专区</a></li> &nbsp; &nbsp;
                </ul>
            </div>
        </div>
        <!--主体部分-->
    </div>

</body>
</html>